* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  display: inline-block;
  font-family: "Jost", sans-serif;
  color-scheme: light;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow: visible;
  direction: ltr;
  background-color: rgba(0, 0, 0, 0.23);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: cover;
  background-attachment: fixed;
}

@supports (min-height: 100dvh) {
  body {
    min-height: 100dvh;
  }
}
@media (max-width: 900px) {
  body {
    background-color: rgba(0, 0, 0, 0.23);
    background-image: none;
  }
}
.mainframe {
  position: relative;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 1440px;
  background-color: rgba(255, 255, 255, 0.05);
}

.d-none {
  display: none !important;
}

/* ===== Scrollbar CSS ===== 
https://codepen.io/stephenpaton-tech/full/JjRvGmY
*/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #c0c0c0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #c0c0c0;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Jost-VariableFont_wght.ttf") format("ttf");
}
@font-face {
  font-family: "Jost";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/Jost-Italic-VariableFont_wght.ttf") format("ttf");
}
#loader_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid green;
  background-color: rgba(0, 0, 0, 0.2);
}

#loader_container::before {
  filter: blur(10px);
}

#loader_spinner {
  position: absolute;
  top: calc(50% - 7.5rem);
  left: calc(50% - 7.5rem);
  z-index: 1000;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon {
  position: relative;
  height: 15rem;
  width: 15rem;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.pokemon::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 100%;
  background: black;
  top: 50%;
  transform: translatey(-50%);
}

.pokemon::after {
  content: "";
  position: absolute;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
    Kleinere Version

  .pokemon {
      position: relative;
      height: 100px;
      width: 100px;
      background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
      border-radius: 50%;
      // border: 8px solid black;
      animation: spin 1s linear infinite;
    }

    .pokemon::before {
      content: '';
      position: absolute;
      height: 8px;
      width: 100%;
      background: black;
      top: 50%;
      transform: translatey(-50%);
    }

    .pokemon::after {
      content: '';
      position: absolute;
      height: 38px;
      width: 38px;
      border-radius: 50%;
      background: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;

    }

    @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
  */
header {
  min-height: 100px;
}

footer {
  min-height: 100px;
}

#pokedex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 70dvh;
  color: black;
  gap: 1.5rem;
}

.pokedex__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 10rem;
  height: 15rem;
  background-color: rgb(219, 33, 33);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.6);
  transition: filter 500ms ease-in-out;
}
.pokedex__card > h1 {
  font-size: 1.5rem;
  font-size: 1.5rem;
}

.pokedex__card:hover {
  transition: transform 125ms ease-in-out;
  transform: scale(1.1) translateX(0px) translateY(0px);
}

.pokedex__card:hover #pokemonPic {
  transition: transform 125ms ease-in-out;
  transform: scale(1.5) translateX(0px) translateY(-20%);
}

#pokemonPic {
  max-height: 35%;
  transition: transform 125ms ease-in-out;
}

.btn {
  background-color: green;
  color: white;
  font-size: 2rem;
  width: 200px;
  height: 100px;
  margin-top: 2rem;
  border-radius: 1rem;
}

.blur {
  transition: filter 150ms ease-in-out;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}/*# sourceMappingURL=main.css.map */