@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";
@use "sass:math";


$container-padding-bottom: 1rem;


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $height-header;
    background-color: rgba(0,0,0,0.3);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(116,69,226,1) 60%, rgba(70,77,181,1) 100%); 
    background-size: 200% 200%;
    animation: animationBackgroundFooter 10s ease-in-out infinite;
    color: $color-secondary;
    text-wrap: wrap;
    text-align: center;
    filter: drop-shadow(2px 2px 9px rgba(0,0,0,0.8));

    & img {
        filter: drop-shadow(5px 5px 8px #000000);
    }

    @media (max-width: $breakpoint-sm) {
      flex-direction: column;
    }

}


.header-logo-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-self: flex-end;
  padding-bottom: $container-padding-bottom;

  @media (max-width: $breakpoint-sm) {
    align-self: center;
  }
}


.header-inputfield-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: end;
  width: 15rem;
  padding-bottom: $container-padding-bottom;

  @media (max-width: $breakpoint-sm) {
    align-self: center;
    align-items: center;
  }
}


.glowIMG {
  object-fit: cover;
  filter: drop-shadow(0px 0px 10px transparent);
  animation: glowIMG 1s linear infinite alternate;
}


@keyframes glowIMG {
  from {
    filter: drop-shadow(0px 0px 2px blue);
  }
  
  to {
    filter: drop-shadow(0px 0px 20px #ffcd37);
  }
}


.header-inputfield {
  width: 5rem;
  height: 1.75rem;
  padding: 0.5rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;

  &:focus {
    width: 100%;
  }
}




