@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/" as *;
@use "sass:color";
@use "sass:math";



#fp-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation-name: fp-overlay--fade-in;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    cursor: default;
}


#fp-overlay:target {
    display: flex;

}


#fp-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,0.85);
    backdrop-filter: blur(2px);

    animation-name: fp-overlay--fade-in;
    animation-duration: 0.15s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
}


@keyframes fp-overlay--fade-in {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}


#fp-overlay::before {
    filter: blur(1px);
}