@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";
@use "sass:math";



.load-more-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;
}


.btn {
  background-color: green;
  color: white;
  font-size: 2rem;
  width: 12rem;
  height: 4rem;
  margin-top: 2rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  transition: background-color 125ms ease-in-out;

  &:hover {
    background-color: rgb(7, 189, 7);
    transition: background-color 125ms ease-in-out;
    animation: shakingButton 750ms linear 0s infinite normal none;
  }

}


@keyframes shakingButton {
  0% {
    transform:translateY(0) rotate(0deg);
    transform-origin:50% 50%;
  }
  25% {
    transform:translateY(0) rotate(8deg);
  }
  40% {
    transform:translateY(-6px) rotate(0deg);
  }
  55% {
    transform:translateY(0) rotate(-8deg);
  }
  65% {
    transform:translateY(-6px) rotate(0deg);
  }
  75% {
    transform:translateY(0) rotate(8deg);
  }
  82% {
    transform:translateY(-6px) rotate(0deg);
  }
  87% {
    transform:translateY(0) rotate(-8deg);
  }
  93% {
    transform:translateY(-4px) rotate(0deg);
  }
  100% {
    transform:translateY(0) rotate(0deg);
  }
}