@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";
@use "sass:math";



#loader_container {
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:target {
        display: flex;

    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0,0,0,0.85);
        @supports(backdrop-filter: blur(1rem)) {
            background-color: rgba(0,0,0,0.15);
            backdrop-filter: blur(4rem);             
        }

        animation-name: loader_container--fade-in;
        animation-duration: 0.25s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
}


@keyframes loader_container--fade-in {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}


#loader_container::before {
    filter: blur(2px);
}


#loader_spinner {
    position: absolute;
    top: calc(50% - 7.5rem);
    left: calc(50% - 7.5rem);
    z-index: 1000;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.pokemon {
    position: relative;
    height: 15rem;
    width: 15rem;
    background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


.pokemon::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 100%;
    background: black;
    top: 50%;
    transform: translatey(-50%);
}


.pokemon::after {
    content: "";
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
