@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";
@use "sass:math";


header {
    min-height: 100px;
    border: 1px solid red;
}

#loader_container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



.pokemon {
    position: relative;
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
    border-radius: 50%;
    border: 8px solid black;
    animation: spin 1s linear infinite;
  }
  
  .pokemon::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    background: black;
    top: 50%;
    transform: translatey(-50%);
  }
  
  .pokemon::after {
    content: '';
    position: absolute;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;
  
  }
  
  /* Spin Animation */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }















footer {
    min-height: 100px;
    border: 1px solid green;
}


#pokedex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 70dvh;
    color: black;
    gap: 1rem;
    border: 1px solid blue;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}



.pokedex__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 10rem;
    height: 15rem;
    background-color: rgba(219,33,33,1);
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
      
    }

}

.pokedex__card:hover #pokemonPic {
  transition: transform 125ms ease-in-out;
  transform: scale(1.5) translateX(0px) translateY(-50%);
}





#pokemonPic {
    max-height: 35%;
    transition: transform 125ms ease-in-out;
}





// should be eliminated, not nessesary anymore!
#loadingbar_container {
  position: relative;
  width: 98%;
  height: 1.5rem;
}

#loadingbar{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: blue;
  border: 1px solid black;
  border-radius: 1000rem;
  color: white;
  padding-left: 1rem;
  line-height: 1.5rem;
}




.btn {
  background-color: red;
  color: white;
  width: 200px;
  height: 100px;
  margin-top: 2rem;
}