@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";
@use "sass:math";


#pokedex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 70dvh;
    color: white;
    gap: 1rem;
}



.pokedex__overview__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 10rem;
    height: 15rem;
    background-color: rgba(219,33,33,1);
    border-radius: 1rem;
}


#pokemonPic {
    width: 50%;
    height: auto;
}
