@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";
@use "sass:math";


header {
    min-height: 100px;
}




footer {
    min-height: 100px;
}


#pokedex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 70dvh;
    color: black;
    gap: 1.5rem;
}



.pokedex__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: clamp(6rem, 10rem, 15rem);
    height: 15rem;
    background-color: rgba(219,33,33,1);
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.6);
    transition: filter 500ms ease-in-out;

    & > h1 {
        font-size: 1.5rem;
        font-size: clamp(1rem, 1.5rem, 2rem);
    }

}




.pokedex__card:hover {
    transition: transform 125ms ease-in-out;
    transform: scale(1.1) translateX(0px) translateY(0px);
}




.pokedex__card:hover #pokemonPic {
  transition: transform 125ms ease-in-out;
  transform: scale(1.5) translateX(0px) translateY(-20%);
}


#pokemonPic {
    max-height: 35%;
    transition: transform 125ms ease-in-out;
}


.btn {
  background-color: green;
  color: white;
  font-size: 2rem;
  width: 200px;
  height: 100px;
  margin-top: 2rem;
  border-radius: 1rem;
}



// .blur {
//     transition: filter 150ms ease-in-out;
//     // filter: opacity(70%);
// }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }