@use "sass:color";
@use 'sass:math';

$color-primary: #011820!default;
$color-secondary: #eeeeee!default;

$height-header: 10rem;
$height-footer: 10rem;


$card-width: 15rem;
$card-height: 15rem;
$height-grid-item: $card-height;
$width-grid-item: $card-width;
$hightOfPokemonCard: $card-height;
$widthOfPokemonCard: $card-width;

$border-radius: 2rem;
$border-width: calc(1rem / 16);
$border-color: rgba(0, 0, 0, 0.15);




// transition-time intentionally slowed down to show the tilting effect of each cards.
$transition-time: 0.35s;




// 1440px max contentwidth
$breakpoint-content: 90rem!default;

// 1200px oder schmaler 
$breakpoint-lg: 75em!default;

// 992px oder schmaler 
$breakpoint-md: 62em!default;

// 768px oder schmaler 
$breakpoint-sm: 48em!default;

// 576px oder schmaler 
$breakpoint-xs: 36em!default;

// 448px oder schmaler 
$breakpoint-xxs: 28em!default;

// Breakpoints 
@media (max-width: $breakpoint-content) {}
@media (max-width: $breakpoint-lg) {}
@media (max-width: $breakpoint-md) {}
@media (max-width: $breakpoint-sm) {}
@media (max-width: $breakpoint-xs) {}
@media (max-width: $breakpoint-xxs) {}